html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: linear-gradient(to bottom right, blue, pink);
    background-attachment: fixed; /* Фиксированный фон */
}

h1{
    text-transform: uppercase;
	text-align: center;
	padding-top: 2%;

	  font-family: "Nabla", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "EDPT" 100,
    "EHLT" 12;
}

main{
     background-image: url(img/dices.png);
         background-position: center;
             background-size: cover;

  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;

     display: flex;
     padding: 2%;
      width: 80%;
     margin: auto;
    justify-content: space-evenly;
     border-radius: 10px;

          flex-wrap: wrap;
}

.books{
    background-image: url(img/books.png);
    width: 30%;
    height: 600px;
    padding: 1%;
    border-radius: 10px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
}

.movies{
        backdrop-filter: blur(15px);
     width: 30%;
    height: 600px;
    padding: 1%;
    border-radius: 10px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
}


.games{
        backdrop-filter: blur(15px);
     width: 30%;
    height: 600px;
    padding: 1%;
    border-radius: 10px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
}

button{
    margin: auto;
}


#randombook{
    border-radius: 10px;
    background: white;
    padding: 1%;
    font-size: 150%;
    margin-bottom: 50%;
    min-height: 100px;

    	text-align: center;
}

#randommovie{
    border-radius: 10px;
    background: white;
    padding: 1%;
    font-size: 150%;
    margin-bottom: 50%;
    min-height: 100px;

        	text-align: center;
}


#randomgame{
    border-radius: 10px;
    background: white;
    padding: 1%;
    font-size: 150%;
    margin-bottom: 50%;
    min-height: 100px;

        	text-align: center;
}


.glow-on-hover {
            margin-top: auto; /* Кнопка будет внизу блока */

    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

@media (max-width: 1080px) {
    main {
        padding: 1% 1%;
    }

    .books, .movies, .games {
        width: 90%;
        margin-bottom: 20px; /* Добавляем отступ снизу */
        padding: 10px; /* Уменьшаем внутренние отступы */
	    font-size: 150%;
    }
}
